name: Run Tests

on:
  pull_request:
    branches:
      - main
      - develop  # Adjust to your default branches

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Install Black
      run: |
        python -m pip install --upgrade pip
        pip install -r ./week-2/requirements.txt
        black . 
