name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      minio:
        image: quay.io/minio/minio:latest
        env:
          MINIO_ROOT_USER: minio_access_key
          MINIO_ROOT_PASSWORD: minio_secret_key
        ports:
          - 9000:9000
        options: >-
          --health-cmd="curl --silent --fail http://localhost:9000/minio/health/live || exit 1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
        command: server /data --console-address ":9001"

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r week-2/requirements.txt

    - name: Lint with black
      run: |
        black .

    - name: Run tests with pytest
      env:
        MINIO_SERVER_URL: http://127.0.0.1:9000
      run: |
        pytest -ss week-2/test_cases.py
